@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body{
  --main: #FEFEFE;
  --secondary: #252525;
  --accent: #A4361D;
  --highlight: #F5D020;
  --fs-text: clamp(12px, 5vw, 16px);;
  --fs-xl: clamp(1.5rem, 3vw, 5rem);
  --padding: 1em;
  --translate-value: 10px;

  font-family: Inter;
  background-color: var(--main);
  color: var(--secondary);
  width: 100vw;
  height: 100svh;
  font-size: 14px;
  font-size: var(--fs-text);
  overflow-x: hidden;
}

a{
  color: inherit; 
  text-decoration: none; 
}

.group{
  color: var(--main);
  text-transform: uppercase;
}

.contact-group{
  background-color: transparent;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  position: relative;
  isolation: isolate;
  flex: 1.5;
}

.contact-group *{
  transform: translateX(var(--translate-value));
}

.contact-group > * {
  position: absolute;
  top: 0;
  left: 50%;
}

.contact-group::before{
  z-index: -1;
  background-color: var(--accent);
  content: '';
  position: absolute;
  width: 115%;
  height: 100%;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}

.contact-group .info{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  gap: 5px;
  top: 35%;
  left: 0;
}

.contact-group .info h2{
  font-size: 1em;
}

.group .tel{
  color: var(--highlight);
  font-size: 1.5em;
}

header > *{
  height: 85px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

header > * > div{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group.left{
  align-items: flex-start;
  justify-content: flex-start;
}

.logo{
  background-color: var(--accent);
  font-weight: 500;
  font-size: var(--fs-xl);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 2rem 0.75rem 2rem;
  margin: 1rem;
}

#menu-toggle{
  height: 40px;
  width: 40px;
}

#phone-icon{
  display: none;
  height: 40px;
  width: 40px;
  top: 30%;
  left: 15%;
}

#phone-icon > svg{
  height: 100%;
  fill: var(--highlight);
}

@media (min-width: 425px)  {
  .contact-group .info{
    left: 10%;
  }
}

@media (min-width: 550px)  {
  #phone-icon{
    display: block;
    left: 7.5%;
  }

  /* .logo{
    margin-top: 2em;
  } */

  .group .tel{
    color: var(--highlight);
    font-size: 1.8em;
  }

  .contact-group .info{
    left: 25%;
  }
}

@media (min-width: 750px)  {
  .contact-group .info{
    left: 20%;
    top: 25%;
    font-size: 14px;
  }

  .contact-group{
    flex: 1.5;
  }
}

@media (min-width: 925px)  {
  .contact-group .info{
    left: 17.5%;
  }
  .contact-group{
    flex: 2.25;
  }
}

@media (min-width: 1200px)  {
  .contact-group .info{
    left: 15%;
  }
}

