@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
  --main: #FEFEFE;
  --secondary: #252525;
  --accent: #A4361D;
  --accent-2: #f5d22080;
  --highlight: #F5D020;
  --fs-text: clamp(0.75rem, 1.75vw, 1rem);
  --fs-xl: clamp(1.2rem, 3vw, 2.5rem);
  --padding: 1em;
  --display-gap: 5px;
  --nav-height: 85px;
  --translate-value: 10px;
  --transition-value: all 0.4s ease-in-out;

  font-family: Inter;
  background-color: var(--main);
  color: var(--secondary);
  width: 100vw;
  height: 100svh;
  font-size: var(--fs-text);
  overflow-x: hidden;
}

a{
  color: inherit; 
  text-decoration: none; 
}

header{
  height: var(--nav-height);
  display: flex;
}

header > .left, 
header > .middle{
  flex: 1;
  display: flex;
}

header > .left,
header > .middle{
  justify-content: center;
  align-items: center;
}

header > .contact{
  flex: 2;
}

.left, 
.contact{
  color: var(--main);
  text-transform: uppercase;
}

.logo{
  background-color: var(--accent);
  font-weight: 500;
  font-size: var(--fs-xl);
  padding: 0.5em 0.75em 0.5em 0.75em;
}

#menu-toggle{
  height: 40px;
  background-color: transparent;
  width: 40px;
  border: none;
  padding: 0;
  cursor: pointer;
}

#menu-toggle .line{
  display: block;
  content: '';
  height: 5.5px;
  width: 100%;
  margin: 4px;
  background-color: var(--accent);
  transition: var(--transition-value);
}

#menu-toggle[aria-expanded="true"] .line:nth-child(1){
  transform: rotate(45deg) translate(7.5px, 7.5px);
}

#menu-toggle[aria-expanded="true"] .line:nth-child(2){
  opacity: 0;
}

#menu-toggle[aria-expanded="true"] .line:nth-child(3){
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu{
  opacity: 0;
  visibility: hidden;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: var(--fs-text);
  background-color: var(--accent-2);
  padding: 1rem;
  z-index: 2;
  transition: var(--transition-value);
}

#menu-toggle[aria-expanded="true"] + .menu{
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 175%);
}

.menu > ul{
  width: 100%;
  display: flex;
  gap: 10px;
}

.menu > ul *{
  text-wrap: nowrap;
}

.menu > ul > *:hover{
  color: var(--accent);
  text-decoration: underline var(--highlight) 2px;
}

.contact{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1.5;
  background-color: transparent;
  position: relative;
  isolation: isolate;
}

.contact::before{
  z-index: -1;
  background-color: var(--accent);
  content: '';
  position: absolute;
  width: 115%;
  height: 100%;
  clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0% 100%);
}

.contact > .wrapper{
  display: flex;
  width: 100%;
  position: absolute;
  left: 65%;
  top: 50%;
  transform: translate(-50%,-50%);
  gap: var(--display-gap);
}

.contact .info{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  font-size: clamp(0.6rem, 1.75vw, 1rem);
  text-align: center;
  gap: var(--display-gap);
}

.contact h2{
  font-size: 1em;
}

.contact #tel{
  color: var(--highlight);
  font-size: 1.85em;
}

#phone-icon{
  display: none;
  height: 30px;
}

#phone-icon > svg{
  height: 100%;
  fill: var(--highlight);
}

@media (min-width: 500px){
  #phone-icon{
    display: block;
  }

  .contact > .wrapper{
    left: 62.5%;
  }
}

@media (min-width: 600px){
  #phone-icon{
    height: 2.75em;
  }

  .logo{
    padding: 0.5em 1em 0.5em 1em;
  }
}

@media (min-width: 700px){
  .contact > .wrapper{
    gap: calc(var(--display-gap) * 2);
  }
}


@media (min-width: 1000px){
  .logo{
    padding: 0.3em 1.2em 0.3em 1em;
  }

  header > .left{
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
  }

  header > .middle{
    flex: 2;
  }

  header > .contact{
    flex: 4;
  }
}